.container
  display: flex
  min-height: 100vh
  flex-flow: column
  width: 90%
  max-width: 960px
  min-wdith: 400px
  margin: 0 auto
  border: 1px solid black
  box-sizing: border-box

// see what i'm working with
.site-header
  background-color #9BC2F0

.page-content
  flex-grow 1
  background-color #efefef

.wrapper
  display flex
  justify-content center

.site-footer
  background-color #B8E986
  display flex
  
figure
  max-width: 500px
  margin 0 auto
  padding 20px

.trigger
  border 1px solid black
  
.site-title
  font 20px/1.5 'Helvetica' sans-serif
  flex-grow 1
  border 1px solid black

header
  display flex
  justify-content flex-end

.post
  display flex
  flex-flow column nowrap
  align-items center

.post-title
  padding-top 2em
  font 3.3rem serif
  font-weight 900
  margin .8em
  width 100%
  max-width 450px
  text-align center

.page-heading
  padding-top 2em
  font 3.3rem serif
  font-weight 900
  margin .8em

.post-list
  list-style none

.post-link
  text-decoration none

.post-content
  margin-top 50px
  max-width 450px
  font 1.125rem/1.618 'Helvetica' sans-serif
  font-weight 200
  

.post-meta
  font 14px/1.5 'Helvetica' sans-serif
  
.post-header
  display flex
  flex-flow column
  align-items center
  width 100%
  
.footer-heading
  font 14px/1.5 'Helvetica' sans-serif
