.container
  display: flex
  flex-flow: column
  align-items: center
  max-width: 960px
  margin: 0 auto
  border: 1px solid black
  
// see what i'm working with
header
  background-color #9BC2F0

.page-content
  background-color #efaaff

footer
  background-color #B8E986
