.container
  display: flex
  min-height: 100vh
  flex-flow: column
  width: 90%
  max-width: 960px
  min-wdith: 400px
  margin: 0 auto
  box-sizing: border-box

// see what i'm working with
.site-header
  background-color #efefef
  box-shadow: 2px 2px 10px 0 hsla(0,0%,0%,.15);

.page-content
  flex-grow 1

.wrapper
  display flex
  justify-content center

.site-footer
  background-color #73E1E5
  display flex
  
figure
  max-width: 500px
  margin 0 auto
  padding 20px

a
  text-decoration none

.site-title
  font 20px/1.5 'Helvetica' sans-serif
  flex-grow 1

header
  display flex
  justify-content flex-end

.post
  display flex
  flex-flow column nowrap
  align-items center

.post-title
  padding-top 2em
  font 3.3rem serif
  font-weight 900
  margin .8em
  margin-bottom 0
  width 100%
  max-width 450px

.page-heading
  padding-top 2em
  font 3.3rem serif
  font-weight 900
  margin .8em

.post-list
  list-style none

.post-link
  text-decoration none

.post-content
  margin-top 50px
  max-width 450px
  font 1.125rem/1.618 'Helvetica' sans-serif
  font-weight 200
  
.post-meta
  font 14px/1.5 'Helvetica' sans-serif
  width 450px
  
  
.post-header
  display flex
  flex-flow column
  align-items center
  width 100%
  
.footer-heading
  font 14px/1.5 'Helvetica' sans-serif
